# Contact form (EmailJS). Create a service + template at https://emailjs.com
# The template should expose: from_name, reply_to, message
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
